[project]
name = "{{PROJECT_NAME}}"
description = ""

{{DOMAIN_ENTRIES}}

[structure]
ignore = [".git", ".strata", "node_modules", "target", ".DS_Store", "Thumbs.db"]
require_descriptions = false

[lint]
disable = []
strict = false
